.create {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  color: gray;
}

.input {
  margin: 20px;
  height: 25px;
  width: 355px;
  outline: none;
  padding: 15px;
}

.button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: green;
  color: white;
}
